.article-stuff {
  margin-top: -1.1%;
}
.articles__title1 {
  box-shadow: 0px 4px 8px #83eaf1, 0px -4px 8px #63a4ff;
  z-index: 2;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 6px;
}
.article__body {
  border-radius: 6px;
  border-style: solid black 2px;
  margin-left: 25%;
  margin-right: 25%;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px #83eaf1, 0px -4px 8px #63a4ff;
  height: 100%;
  margin-top: 3%;
  background: white;
}
.articles__paragraph {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background: #fff;
  font-size: 1.4em;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
.articles__paragraph:nth-child(odd) {


}
 
.articles__related-articles {
  text-align: center;
}
.article__related-body {
  background: url('https://www.bdblocks.com/images/header-bg-1.png') no-repeat;
  margin-top: 3%;
  margin-bottom: -1.6%;
  padding-bottom: 1%;
}
@media (max-width: 900px) {
  .article__body {
    margin-left: 2%;
    margin-right: 2%;
  }
}