

.BL {
  position: absolute;
  overflow: visible;
  left: 20px;
  top: 8px;
}
.img {
  width: 100px;
  height: 60px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li,
.cta,
.overlay__content li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  color: black;
}
.nav:hover {
  color: white;
  border-radius: 50px;
  background-color: blue;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
  .BL {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 39px;
    top: 3px;
  }

}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
